---
testBanner: false
title: "Sitemap"
dateModified: 2026-02-02
dateIssued: 2026-02-02
nositesearch: true
nomenu: true
breadcrumbs: false
feedback: false
share: false
noFooterContextual: true
noFooterCorporate: true
noFooterMain: true
---
<!--
<div class="mrgn-tp-md brdr-bttm">
    <div class="row">
        <ul class="toc lst-spcd col-md-12">
            <li class="col-md-4 col-sm-6"><a class="list-group-item active" data-exit="false" href="https://github.com/cra-design/repository name/tree/main">GitHub repository</a></li>
        </ul>
    </div>
</div>
-->
<ul>
{% assign sitePages = site.pages | sort: "url" %}
{% for p in sitePages %}
    {% include sitemapxml.html url = p.url title = p.title %}
    {% assign page_url = p.url | slice: 1, p.url.size %}
    {% assign folder_path = page_url | split: "/" %}
    {% if folder_path.size > 1 %}
        <p>
        {% for fp in folder_path %}
            {% if forloop.last %}
               &nbsp;{{ fp }}
            {% else %}
                [{{ fp }}]
            {% endif %}
        {% endfor %}
        </p>
    {% endif %}
{% endfor %}
</ul>

<ul>
  {% assign current_path = "" %}
  {% for p in sitePages %}
    {% assign path_parts = p.url | split: "/" %}
    {% assign top_path = "" | append: path_parts[1] %}

    {% if top_path != current_path %}
      {% if forloop.index > 1 %}</ul></li>{% endif %}
      <li>{% unless top_path contains "/" %}{<strong>{{ top_path }} - {{ path_parts.size }}</strong>{% endunless %}
        <ul>
      {% assign current_path = top_path %}
    {% endif %}
    
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>

    {% if forloop.last %}</ul></li>{% endif %}
  {% endfor %}
</ul>