---
testBanner: false
title: "Sitemap"
dateModified: 2026-02-02
dateIssued: 2026-02-02
nositesearch: true
nomenu: true
breadcrumbs: false
feedback: false
share: false
noFooterContextual: true
noFooterCorporate: true
noFooterMain: true
---
<!--
<div class="mrgn-tp-md brdr-bttm">
    <div class="row">
        <ul class="toc lst-spcd col-md-12">
            <li class="col-md-4 col-sm-6"><a class="list-group-item active" data-exit="false" href="https://github.com/cra-design/repository name/tree/main">GitHub repository</a></li>
        </ul>
    </div>
</div>
-->
<ul>
{% assign sitePages = site.pages | sort: "url" %}
{% assign current_path = "" %}
{% assign top_path_arr = "['']" %}
{% for p in sitePages %}
    <p><span class="label label-primary">site url</span> [{{ p.url }}]</p>
    {% assign fullPathArr = p.url | split: "/" %}
    {% assign path_arr = fullPathArr | pop %}
    {% assign folder_path = path_arr | join: "/" %}
    {% if fullPathArr.size == 0 %}
        {% assign filename = "index.html" %}
    {% else %}
        {% assign filename = fullPathArr.last %}
    {% endif %}
    {% assign top_path = "" | append: folder_path %}
    {% assign isNewPath = true %}
    {% for fp in path_arr %}
        {% if forloop.index > 1 %}
            <p><strong>fp:</strong> [{{ fp }} = {{ top_path_arr[forloop.index0] }}] [current: {{ path_arr.size }}] [last: {{ top_path_arr.size }}]</p>
        {% endif %}
        {% if forloop.last %}
        {% endif %}
        {% if fp != top_path_arr[forloop.index0] %}
            {% assign isNewPath = false %}
        {% endif %}
    {% endfor %}
    {% if top_path != current_path %}
        {% assign current_path = top_path %}
        {% assign top_path_arr = path_arr %}
    {% endif %}
    {% if isNewPath == true %}
        <p><strong>isNewPath:</strong> [{{ isNewPath }}]</p>
    {% endif %}
    {% include link_inc.html url = p.url title = p.title %}
{% endfor %}
</ul>

<hr>
