---
testBanner: false
title: "Sitemap"
dateModified: 2026-02-02
dateIssued: 2026-02-02
nositesearch: true
nomenu: true
breadcrumbs: false
feedback: false
share: false
noFooterContextual: true
noFooterCorporate: true
noFooterMain: true
---
<!--
<div class="mrgn-tp-md brdr-bttm">
    <div class="row">
        <ul class="toc lst-spcd col-md-12">
            <li class="col-md-4 col-sm-6"><a class="list-group-item active" data-exit="false" href="https://github.com/cra-design/repository name/tree/main">GitHub repository</a></li>
        </ul>
    </div>
</div>
-->
<ul>
{% assign sitePages = site.pages | sort: "url" %}
{% assign current_path = "" %}
{% for p in sitePages %}
    <p><span class="label label-primary">site url</span> [{{ p.url }}]</p>
    {% assign fullPathArr = p.url | split: "/" %}
    {% assign path_arr = fullPathArr | pop %}
    {% assign folder_path = path_arr | join: "/" %}
    <p><strong>folder_path:</strong> [{{ folder_path }}]</p>
    {% if fullPathArr.last.size == 0 %}
        {% assign filename = "index.html" %}
        blank
    {% else %}
        {% assign filename = fullPathArr.last %}
        not blank
    {% endif %}
    <p><strong>filename:</strong> [{{ filename }}]</p>
    {% assign top_path = "" | append: folder_path %}
    {% if top_path != current_path %}
        <p><strong>top_path:</strong> [{{ top_path }}]</p>
        {% assign current_path = top_path %}
    {% endif %}
    {% for fp in path_arr %}
        {% if forloop.index > 1 %}
            <p><strong>fp:</strong> [{{ fp }}]</p>
        {% endif %}
        {% if forloop.last %}
            {% include link_inc.html url = p.url title = p.title %}
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>

<hr>
